
@{
    ViewBag.Title = "Index";
}

<h2>Nova aritmeticka operacija:</h2>

<form action="~/Operation/Add" method="post">
    <table>
        <tr>
            <td>Operand 1</td>
            <td>
                <input type="text" name="firstOperand" />
            </td>
        </tr>
        <tr>
            <td>Operand 2</td>
            <td>
                <input type="text" name="secondOperand" />
            </td>
        </tr>
        <tr>
            <td>Operator</td>
            <td>
                <input type="text" name="arithmeticOperator" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Dodaj" />
            </td>
        </tr>
    </table>
</form>
